$navbar-default-bg: #b7d8ab;


@import "bootstrap-sprockets";
@import "bootstrap";

#logotest {
  float: left;
  font-size: 1.7em;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logotest:hover {
  color: #fff;
  text-decoration: none;
}

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url('file1707.jpg');
  background-size: 30%;
  background-repeat: no-repeat;
  height: 400px;
  text-align: center;
}
.jumbotron h1 {
  color: #333;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: light;
}

.btn-xlarge {
  font-size: 1.7em;
  background-color: black;
}
.article-meta-details {
  border-top: 1px solid #eaeaea;
  margin-top: 5px;
}
.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}
.description {
  margin-top: 1px;
}
.article-title {
  font-weight: light;
  font-size: 1.5em;
}
.article-body {
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
}
.footer {
  text-align: center;
  margin-top: 5px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
  position: fixed;
  bottom: 0%;
  width: 80%;
}
.footer a:hover{
  color: #222;
}
.footer small {
  float: left;
}
.footer ul {
  float: right;
  list-style: none;
}
.footer ul li {
  float: left;
  margin-left: 5px;
}