<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="https://www.diversal.org">diversal</a>
      by <a href="http://www.diversal.org"> AJ</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>